<div id="app">
  <nz-layout class="layout">
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item *ngFor="let item of menu" [routerLink]="item.path">{{item.label}}</li>
          </ul>
        </div>
        <div class="right">
          <app-search (onSearch)="onSearch($event)" [searchResult]="searchResult"></app-search>
        </div>
      </div>
    </nz-header>
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer">
      Ant Design ©2019 Implement By Angular
    </nz-footer>
  </nz-layout>
</div>

<app-player></app-player>
